<!-- contact.html (HTML_Form02)-->
{% extends "base.html" %}
{% block title%} 連絡管理員 {% endblock%}
{% block content%}
<div class='container'>
    {% if message %}
        <div class='alert alert-warning'>
        {{ message }}
        </div>
    {% endif %}

    {{user_name}}<br>
    {{user_city}}<br>
    {{user_message}}<br>    

    <div class='panel panel-primary'>
        <div class='panel-heading'>
        <form name='my form' action='.' method='POST'>
            {% csrf_token %}
            <h3> 寫信給管理員 </h3>
        </div>
        <div class='panel-body'>
            {{ form.as_p }}
        </div>
        <div class='panel-footer'>
            <input type='submit' value='送出'>
        </form>
        </div>
    </div>
</div>
{% endblock %}
