{% extends 'base.html' %}
{% block title %} 我有話要說 {% endblock %}
{% block headmessage %}
<h3 style='font-family:微軟正黑體;'>心情小站</h3>
{% endblock %}
{% block content %}

<form name='myform' action='/' method='GET'>
    現在的心情： <br/>    
    {% for m in moods %}
    <input type='radio' name='mood' value='{{ m.status }}'>{{ m.status }}
    {% endfor %}
    <br/>
    心情留言板： <br/>
    <textarea name='user_post' rows=3 cols=70></textarea><br/>
    <label for='user_id'>你的暱稱：</label>
    <input id='user_id' type='text' name='user_id'>
    <label for='user_pass'>張貼密碼：</label>
    <input id='user_pass' type='password' name='user_pass'><br/>
    <input type='submit' value='張貼'>
    <input type='reset' value='清除重填'>
</form>
<br>
{% if message %}
    <div class='alert alert-warning'>
    {{ message }}
    </div>
{% endif %}
<hr><br>
<span calss="glyphicon glyphicon-trash" ></span>

<div class="row">
    {% for p in posts %}
    <div class="col-sm-12 col-md-4">
        <div class='panel panel-primary'>
            <div class='panel-heading'> 【 {{ p.nickname }} 】覺得 {{ p.mood }}</div>
            <div class='panel-body'>{{ p.message | linebreaks }}</div>
            <div class='panel-footer' align='right'>
                <i><small>{{ p.pub_time }}</small>
                <!--<span calss="glyphicon glyphicon-trash" onclick='go_delete( {{p.id}} )'></span>-->
                </i>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
function go_delete(id){     
    var user_pass = document.getElementById('user_pass').value;    
    if (user_pass != ""){
        var usr = '/' + id + '/' + user_pass;
        window.location = usr;
    }
    else{
        alert("請填刪除密碼");
    }
}
</script>

{% endblock %}
