<!-- disp.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>{{p.name}}</title>
</head>
<body>
    <h2>{{p.name}}</h2>
    <hr>
    <table width=400 border=1 bgcolor='#ccffcc'>
    <tr><td>品項編號</td><td>{{p.sku}}</td></tr>
    <tr><td>品項名稱</td><td>{{p.name}}</td></tr>
    <tr><td>產品售價</td><td>{{p.price}}</td></tr>
    <tr><td>庫存數量</td><td>{{p.qty}}</td></tr>
    <tr><td>產品尺寸</td><td>{{p.size}}</td></tr>
    </table>
    <a href='/list'>回列表</a>
</body>
</html>
