 <!-- index.html -->
 <!DOCTYPE html>
 <html>
 <head>
    <meta charset='utf-8'>
    <title>Welcome to mynewsite</title>
 </head>
 <body>
    <h1>Welcome to mynewsite</h1>
    <hr>
    <p><a href='/list/'>二手機列表</a></p>
    <p><a href='/about/'>關於我</a></p>
    <hr>
    <em>今日佳句：{{ quote }}</em>
 </body>

 </html>