 <!-- list.html -->
 <!DOCTYPE html>
 <html>
 <head>
    <meta charset='utf-8'>
    <title>中古機列表</title>
 </head>
 <body>
    <h2>以下是目前本店販售中的產品列表</h2>
    <hr>
    <table width=400 border=1 bgcolor='#ccffcc'>
    <tr><td>品名</td><td>售價</td><td>庫存量</td></tr>
    {% for p in products %}
    <tr>
    <!--<td>{{p.name}}</td>-->
    <td><a href='/list/{{p.sku}}'>{{p.name}}</a></td>
    <td>{{p.price}}</td>
    <td>{{p.qty}}</td>
    </tr>
    {% endfor %}
    </table>
    <p><a href='/'>回首頁</a></p>
 </body>
 </html>
 