<!-- header.html -->

{% load static %}
<div class='well'>
<img height='70px' src="{% static "images/p2.png" %}">
<h1 style= "font-family:微軟正黑體;display: inline;">歡迎光臨 我的部落格</h1>
<!--<img src="https://www.cht.com.tw/home/campaign/broadbandlimittime/images/kv.jpg" width=90% heigh="200" alt="banner">-->
</div>