<!-- index.html -->
{% extends 'base.html' %}
{% block title %} 歡迎光臨我的部落格-首頁 {% endblock %}
{% block headmessage %}
<h3 style='font-family:標楷體;'>本站文章列表</h3>
{% endblock %}
{% block content %}
    {% for post in posts %}
    <div class ='panel panel-default'>
        <div class ='panel-heading'>
            <p style ='font-family:微軟雅黑;font-size:14pt;font-weight:bold;'>
                <a href ='/post/{{post.slug}}'>{{ post.title }} </a>
            </p>
        </div>
        <div class ='panel-body' style ='background-color:#ffffdd'>
            <p>
                {{ post.body | truncatechars:40 }}
            </p>
        </div>
        <div class ='panel-footer' style ='background-color:#efefef'>
            <p>
                發佈時間：{{ post.pub_date | date:"Y-m-d, h:i:s"}}
            </p>
        </div>
    </div>
    <br>
    {% endfor%}
{% endblock %}
